/* Banner General */
.banner {
    width: 100%;
    height: 700px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("./img/Banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 50px;
    position: relative;
    box-sizing: border-box; 
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 18, 51, 0.56);
    pointer-events: none;
}

@media (max-width: 1024px) { 
    .banner {
        height: 500px; /* Reducir altura en tabletas */
        padding: 0 30px; /* Reducir padding */
    }
}

@media (max-width: 768px) { /* Para dispositivos móviles */
    .banner {
        height: 400px; /* Reducir altura en móviles */
        padding: 0 20px; /* Ajustar padding */
        background-size: cover; /* Asegura que la imagen de fondo se ajuste al contenedor */
        background-position: center; /* Centra la imagen */
    }
    .publicidadOculta {
        display: none; /* Ocultar publicidad en pantallas pequeñas */
    }
}

@media (max-width: 480px) { /* Para móviles más pequeños */
    .banner {
        height: 300px; /* Reducir aún más la altura */
        padding: 0 15px; /* Ajuste adicional en padding */
    }
}
