/* Variables globales */
:root {
    --color-gray-light: #f5f5f5;
    --color-white: #ffffff;
    --border-color: rgb(59, 59, 59);
}
.container{
    width: 80%;
    padding: 0 100px;
    margin: 0 auto; 
}
/* Estilo del contenedor del header */
.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    text-align: center;
}

/* Título principal */
.title {
    color: var(--color-gray-light);
    font-size: 2.25rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

/* Descripción */
.description {
    color: var(--color-white);
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

/* Contenedor del artículo */
.articleContainer {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1.5rem 0;
    margin: 1rem 0;
}

/* Título del artículo */
.articleTitle {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 1rem; /* Ajusta el padding para un mejor espaciado */
    }
    .title{
        font-size: 1.25rem;
    }
    /* Descripción */
    .description {
        font-size: 1rem;

    }

    .articleContainer {
        padding: 1rem 0;
        margin: .5rem 0;
    }

    .articleTitle {
        font-size: 1rem;
    }

}
