.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    text-align: start;
}

.textarea {
    font-size: 1.15rem;
    border: 3px solid rgba(38, 38, 38, 1); /* Borde por defecto (gris oscuro) */
    border-radius: 10px;
    padding: 14px 10px;
    background-color: transparent;
    color: rgba(165, 165, 165, 1);
    width: 100%;
    resize: vertical; /* Permite redimensionar el textarea verticalmente */
}

.textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
    outline: none;
}

.textarea::placeholder {
    color: rgba(165, 165, 165, 1);
}

/* Estilos para el estado de error */
.labelError {
    color: red; /* Cambia el color del label a rojo */
}

.textareaError {
    border-color: red; /* Cambia el borde del textarea a rojo en caso de error */
    color: red; /* Cambia el texto del textarea a rojo */
}

.textareaError::placeholder {
    color: red; /* Cambia el color del placeholder a rojo */
}

/* Estilo para cuando el textarea está en modo de edición (borde azul) */
.textareaEdicion {
    border-color: #2271D1;
}